[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
pillow = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi-versioning = "*"
python-multipart = "*"
opencv-python-headless = "*"
httpx = "*"
requests = "*"

[scripts]
start = "uvicorn app.main:app --reload --port 5000"

[dev-packages]

[requires]
python_version = "3.8"
